@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #18181b;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}
